@use "../abstracts" as *;

:root {
    --ff-primary: "League Spartan";

    --clr-white: #ffffff;
    --clr-black: #000000;

    @each $color, $shade in $colors {
        @each $prop, $value in $shade {
            --clr-#{$color}-#{$prop}: #{$value};
        }
    }

    @each $screen-size, $property in $type-scale {
        @if $screen-size == small {
            @each $prop, $value in $property {
                --fs-#{$prop}: #{$value};
            }
        } @else {
            @include mq(small) {
                @each $prop, $value in $property {
                    --fs-#{$prop}: #{$value};
                }
            }
        }
    }
}
