@use "../abstracts" as *;

.text {
    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    &--capitalize {
        text-transform: capitalize;
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--lowercase {
        text-transform: lowercase;
    }
}

@each $screen-size, $property in $type-scale {
    @if $screen-size == small {
        @each $prop, $value in $property {
            .fs-#{$prop} {
                font-size: var(--fs-#{$prop}) !important;
            }
        }
    }
}
