@use "../abstracts" as *;

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;

    @include mq(small) {
        flex-direction: row;
    }

    & aside {
        flex-shrink: 0;
    }

    & section {
        --flow-spacer: 1.5rem;
        flex: 1;
        overflow: auto;
        padding: 2rem 1rem;
        background-color: var(--clr-neutral-100);

        @include mq(small) {
            --flow-spacer: 2rem;
            padding: 2rem;
        }

        h5 {
            font-size: var(--fs-500);
        }
    }
}
